In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Conexao a db
database = 'database.sqlite'
con = sqlite3.connect(database)

In [3]:
#Get main tables from db
countries = pd.read_sql_query("SELECT * from Country", con)
matches = pd.read_sql_query("SELECT * from Match", con)
leagues = pd.read_sql_query("SELECT * from League", con)
teams = pd.read_sql_query("SELECT * from Team", con)

In [4]:
#Replace league_id for its name to make it easier to analyse the data.
league_id_map = leagues.set_index('id').to_dict()['name']
matches['league_id'] = matches['league_id'].map(league_id_map)

#Replace country_id for its name.
country_id_map = countries.set_index('id').to_dict()['name']
matches['country_id'] = matches['country_id'].map(country_id_map)

#Replace team_id for its name.
team_id_map = teams.set_index('team_api_id').to_dict()['team_long_name']
matches['home_team_api_id'] = matches['home_team_api_id'].map(team_id_map)
matches['away_team_api_id'] = matches['away_team_api_id'].map(team_id_map)

In [5]:
# Goals avg per league
avg_goals_league = matches[['league_id','home_team_goal','away_team_goal']].groupby('league_id').mean()


total_goals = avg_goals_league.home_team_goal + avg_goals_league.away_team_goal

avg_goals_league.home_team_goal = avg_goals_league.home_team_goal / total_goals * 100
avg_goals_league.away_team_goal = avg_goals_league.away_team_goal / total_goals * 100

avg_goals_league

# Conclusion: home teams have advantage

                          home_team_goal  away_team_goal
league_id
Belgium Jupiler League         57.446809       42.553191
England Premier League         57.220874       42.779126
France Ligue 1                 57.425609       42.574391
Germany 1. Bundesliga          56.060819       43.939181
Italy Serie A                  57.352755       42.647245
Netherlands Eredivisie         57.769822       42.230178
Poland Ekstraklasa             57.517182       42.482818
Portugal Liga ZON Sagres       55.566237       44.433763
Scotland Premier League        54.267277       45.732723
Spain LIGA BBVA                58.951498       41.048502
Switzerland Super League       56.769083       43.230917

In [67]:
# Home win 

goals_per_match = matches[['home_team_goal','away_team_goal']]
wins = 0
draws = 0

for index, row in goals_per_match.iterrows():
    if row['home_team_goal'] > row['away_team_goal']:
        wins += 1
    if row['home_team_goal'] == row['away_team_goal']:
        draws += 1
        

total_matches = len(goals_per_match)
loss = total_matches - wins - draws

percs = [wins/total_matches*100,draws/total_matches*100, loss/total_matches*100]
percs

#Conclusion : this confirms that "home team wins about 46% of the time"

[45.87166557604219, 25.389737865198814, 28.738596558759]